@{

    Layout = "~/Views/Shared/_LayoutSSO.cshtml";
}

<body>
    <link href="~/Content/main.min.css" rel="stylesheet" />
    <div class="site-wrapper">
        <div class="site-header">
            <div class="container-fluid">
                <div class="header-global clearfix pt-7 pl-7 pb-7 pr-21">

                    <div class="pull-right mt-7">
                        <ul class="list-unstyled">

                            <li class="pull-left mr-14">
                                <span class="solano-bold-16 black-text">
                                    <a id="lnk_ext_Portal" class="black-link" href="http://www.upc.edu.pe/"
                                        target="_blank">Portal.</a>
                                </span>
                            </li>

                            <li class="pull-left mr-14">
                                <span class="solano-bold-16 black-text">
                                    <a id="lnk_ext_Portal" class="black-link"
                                        href="http://www.upc.edu.pe/acerca-de-upc/servicios"
                                        target="_blank">Servicios</a>
                                </span>
                            </li>

                            <li class="pull-left mr-14">
                                <span class="solano-bold-16 black-text">
                                    <a id="lnk_ext_Portal" class="black-link" href="http://blogs.upc.edu.pe/"
                                        target="_blank">Blogs</a>
                                </span>
                            </li>

                            <li class="pull-left mr-14">
                                <a href="/Home/Index" target="_blank" class="btn btn-danger"
                                    style="line-height: 14px; height: 26px; color: #fff; padding: 6px 20px;">Login</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-content login">

            <div class="container-fluid p-0">
                <div class="row pt-42">
                    <div class="col-sm-0-5 col-md-0-5 col-xs-0"></div>
                    <div class="col-sm-11 col-xs-12 col-md-11 bg-muted login-servicios panel p-14"
                        style="border-bottom: none; height: 240px; background: url('../img/img-upc-example.jpg') center; background-size: cover;">

                    </div>
                </div>
                <div class="row pt-42">
                    <div class="col-sm-0-5 col-md-0-5 col-xs-0"></div>
                    <div class="col-sm-11 col-xs-12 col-md-11 bg-muted login-servicios panel p-14">
                        <div class="col-sm-12 pl-14 pt-0 pb-0">
                            <h3>Servicios UPC</h3>
                        </div>
                        <div class="row" style="border: 1px solid #fff;">
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a target="_blank" href="http://matricula.upc.edu.pe" id="">
                                    <div class="image">
                                        <img src="https://mi.upc.edu.pe/assets/img/upc_iconos_situacionAcademica.png"
                                            alt="">
                                    </div>
                                    <div class="text">Situación Académica</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a target="_blank" href="http://matricula.upc.edu.pe" id="">
                                    <div class="image"><img
                                            src="https://mi.upc.edu.pe/assets/img/upc_iconos_historial.png" alt="">
                                    </div>
                                    <div class="text">Historial de Notas</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a target="_blank" href="http://matricula.upc.edu.pe" id="">
                                    <div class="image">
                                        <img alt=""
                                            src="https://mi.upc.edu.pe/assets/img/upc_iconos_pagospendientes.png">
                                    </div>
                                    <div class="text">Pagos Pendientes</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="https://aulavirtual.upc.edu.pe/" target="_blank" id="">
                                    <div class="image"><img
                                            src="https://mi.upc.edu.pe/assets/img/upc_iconos_blackboard.png" alt="">
                                    </div>
                                    <div class="text">Aula Virtual</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="https://www.outlook.com/upc.edu.pe" target="_blank" id="">
                                    <div class="image"><img src="https://mi.upc.edu.pe/assets/img/upc_iconos_mail.png"
                                            alt=""></div>
                                    <div class="text">Correo UPC</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="https://matricula.upc.edu.pe" target="_blank" id="">
                                    <div class="image">
                                        <img src="https://mi.upc.edu.pe/assets/img/upc_icono_cursos_habiles.jpg" alt="">
                                    </div>
                                    <div class="text">Consulta de Cursos Hábiles</div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="https://labvirtual.upc.edu.pe/" target="_blank" id="">
                                    <div class="image"><img src="https://mi.upc.edu.pe/assets/img/upc_iconos_labs.png"
                                            alt=""></div>
                                    <div class="text">Laboratorios Virtuales</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="http://contactoweb.upc.edu.pe/" target="_blank" id="">
                                    <div class="image">
                                        <img src="https://mi.upc.edu.pe/assets/img/upc_iconos_contactoweb.png" alt="">
                                    </div>
                                    <div class="text">Contacto Web</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="http://bolsadetrabajo.upc.edu.pe/" target="_blank" id="">
                                    <div class="image"><img src="https://mi.upc.edu.pe/assets/img/upc_iconos_bolsa.png"
                                            alt=""></div>
                                    <div class="text">Bolsa de Trabajo</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="https://matricula.upc.edu.pe" target="_blank" id="">
                                    <div class="image">
                                        <img src="https://mi.upc.edu.pe/assets/img/upc_iconos_matricula_en_linea.jpg"
                                            alt="Matrícula en Línea">
                                    </div>
                                    <div class="text">Matrícula en Línea</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="http://ci.upc.edu.pe/" target="_blank" id="">
                                    <div class="image"><img src="https://mi.upc.edu.pe/assets/img/upc_iconos_ci.png"
                                            alt=""></div>
                                    <div class="text">Centro de Información</div>
                                </a>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                                <a href="https://idiomas.upc.edu.pe" target="_blank" id="">
                                    <div class="image"><img src="https://mi.upc.edu.pe/assets/img/upc_iconos_pdn.png"
                                            alt=""></div>
                                    <div class="text">Inglés UPC</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
