
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcesoUsuarioTipo</title>
</head>
<body>
    <div>
        <p>@Html.ActionLink("Carga del campo tipo de usaurio", "ProcesoUsuarioTipo", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</body>
</html>
