@{

    ViewBag.Title = "recover_verification";

    Layout = "~/Views/Shared/_LayoutSSO.cshtml";
}

<body class="background-02">
    <div class="overlay dark">

        <div class="container">
            <div class="row">
                <div class="col background-03-desktop">
                    <div class="logo">
                        <img src="../img/upc-white.png" alt="UPC">
                    </div>

                    <div class="mb-72  ml-md-32 mr-md-64" id="title-section">
                        <h3 class="title">CÓDIGO DE VERIFICACIÓN</h3>
                        <p class="mb-0 mb-md-4 d-md-none">El código de verificación ha sido enviado.</p>
                        <p class="d-md-none">Ingresa los 4 dígitos para continuar.</p>
                    </div>
                </div>

                <div class="col bg-white">

                    <!-- Formulario -->
                    <form action="#" class="mt-md-32 mb-md-96">

                        <div class="form-group d-none">
                            <p class="mb-0 mb-md-4">El código de verificación ha sido enviado.</p>
                            <p class="">Ingresa los 4 dígitos para continuar.</p>
                        </div>

                        <div class="toast p-8">
                            <div class="text-center text-danger error">
                                <p class="font-14 mb-0">
                                    <span class="icon-circle">!</span> <span class="toast-message"></span>
                                </p>
                            </div>
                        </div>



                        <div class="form-group-code">
                            <input maxlength="1" type="text" id="input-code1" class="form-control form-control-min"
                                onKeyDown="if (!(event.keyCode >= 48 && event.keyCode <= 57) && !(event.keyCode >= 96 && event.keyCode <= 105) && event.keyCode!=8) return false; else if( this.value.length>8 && event.keyCode!=8 ) return false;" />
                            <input maxlength="1" type="text" id="input-code2" class="form-control form-control-min"
                                onKeyDown="if (!(event.keyCode >= 48 && event.keyCode <= 57) && !(event.keyCode >= 96 && event.keyCode <= 105) && event.keyCode!=8) return false; else if( this.value.length>8 && event.keyCode!=8 ) return false;" />
                            <input maxlength="1" type="text" id="input-code3" class="form-control form-control-min"
                                onKeyDown="if (!(event.keyCode >= 48 && event.keyCode <= 57) && !(event.keyCode >= 96 && event.keyCode <= 105) && event.keyCode!=8) return false; else if( this.value.length>8 && event.keyCode!=8 ) return false;" />
                            <input maxlength="1" type="text" id="input-code4" class="form-control form-control-min"
                                onKeyDown="if (!(event.keyCode >= 48 && event.keyCode <= 57) && !(event.keyCode >= 96 && event.keyCode <= 105) && event.keyCode!=8) return false; else if( this.value.length>8 && event.keyCode!=8 ) return false;" />
                        </div>


                        <div class="clearfix"></div>

                        <div class="form-group mt-64 mt-md-48">
                            <button class="btn btn-block btn-primary" id="btn-confirmar">
                                CONFIRMAR &nbsp; <span class="glyphicon glyphicon-refresh spin hide"></span>
                            </button>
                        </div>

                        <div class="form-group">
                            <p class="text-center">
                                ¿No recibiste el mensaje?
                                <a href="#" id="link-reenviar">Reenviar</a>
                            </p>
                        </div>

                    </form>

                </div>
            </div>

            <div class="row" style="padding-top:20px">
                <p>&copy; @DateTime.Now.Year - SSO UPC</p>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/recover_verification")

    @*
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/constants.js"></script>
        <script src="~/Scripts/recover-verification.js"></script>
    *@

</body>
