
@{
    ViewBag.Title = "updateData";
    Layout = "~/Views/Shared/_LayoutSSO.cshtml";
}

<body class="background-02">
    <div class="overlay dark">

        <div class="container">
            <div class="row">

                <div class="col background-04-desktop">
                    <div class="logo">
                        <img src="../img/upc-white.png" alt="UPC">
                    </div>

                    <div class="SiempreArriba">Actualización de datos</div>

                    <div class="Abajo mb-32">
                        Mantener tu información actualizada
                        asegurará que recibas toda la información y
                        te podamos contactar fácilmente.
                    </div>
                </div>

                <div class="col bg-white">

                    <form action="#" class="mb-32" autocomplete="off">

                        @*Mensaje de error*@
                        <div class="toast p-8 top-170">
                            <div class="text-center text-danger error">
                                <p class="font-14 mb-0">
                                    <span class="icon-circle">!</span> <span class="toast-title"></span>
                                </p>
                                <p class="font-14 toast-message"></p>
                            </div>
                        </div>
                        
                        @*Texto informativo de Saludo*@
                        <div class="form-group">
                            <p class="mb-md-4">Hola  &nbsp;<strong><span id="IdSpanUserName">Usuario</span></strong></p>
                        </div>

                        @*Texto informativo*@
                        <div class="form-group">
                            <p class="textoOscuro">
                                Ingresa los siguientes datos:
                            </p>
                        </div>

                        @*Ingreso de dato: Celular*@
                        <div class="form-group">
                            <div class="input-icon">
                                <span class="icon-sms"></span>
                                <input type="text" id="idcelular" class="form-control" placeholder="Celular" />
                            </div>
                        </div>

                        @*Ingreso de dato: email*@
                        <div class="form-group">
                            <div class="input-icon">
                                <span class="icon-mail"></span>
                                <input type="text" id="idemail" class="form-control" placeholder="Correo electrónico personal" />
                            </div>
                        </div>

                        @*Ingreso de dato check: terminos y condiciones*@
                        <div id="divTerminos" class="form-group mb-0">
                            <label class="font-regular font-14">
                                <input type="checkbox" id="idterminos" />
                                Al actualizar mis datos, acepto los <a href="https://www.upc.edu.pe/html/politica-y-terminos/0/terminos-condiciones.htm" target="_blank">Términos y Condiciones</a> y la
                                <a href="https://www.upc.edu.pe/html/politica-y-terminos/0/politica-privacidad.htm" target="_blank">política de privacidad</a> de la UPC.
                            </label>
                        </div>

                        @*Botón*@
                        <div class="form-group mt-32">
                            <button type="button" id="btnvalidar" class="btn btn-block btn-primary">
                                CONTINUAR &nbsp; <span class="glyphicon glyphicon-refresh spin hide"></span>
                            </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/constants.js"></script>
    <script src="~/Scripts/updateData.js"></script>
</body>

