<div style="max-width:800px; margin:auto">
    <p style="text-align: center;"><img src="https://{domain}/logo-upc-60x60.png" style="width: 60px;" class="fr-fic fr-dib"></p>

    <p>Hola <strong>{nombre}</strong>,</p>

    <p>Hemos recibido una solicitud de desbloqueo de cuenta. Si no has sido tú por favor ignora este email. 
    De lo contrario procede a desbloquear tu cuenta desde este link:</p>

    <br />
    <a href="https://{domain}/account/resetpass?code={code}" style="text-decoration:none;color:#fff">
        <div style="background-color:#E42322;border-radius:20px;padding:20px;width:270px;margin:auto;text-align:center;color:#fff">
            <strong style="text-decoration:none;color:#fff">Click aqu&iacute; para desbloquear tu cuenta</strong>
        </div>
    </a>
    <br />

    <!--O ingresa el siguente código si aun tienes la pantalla de login abierta: <strong>{code}</strong>-->
    <br />
    <p style="text-align: left;">
        Gracias,
        <br>Mi Cuenta UPC
    </p>

</div>