<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    
    <!--LOCAL-->
        <!--
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SSO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0NT04MO\MSSQLSERVER01;initial catalog=SSO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CTDIT-ANL23;initial catalog=SSO;user id=sa; password=Upc2022#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        -->
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0NT04MO\MSSQLSERVER01;initial catalog=SSO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--DESARROLLO-->
        <!--
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SVRGAAZ01\SQLEXPRESS;initial catalog=SSO;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
        -->
  	<!--CERTIFICACION-->
	      <!--
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DC1;initial catalog=SSO;user id=sa; password=P0rt@bilidad;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
        -->
    <!--PRODUCCIÓN-->
        <!--
        <add name="SSOEntities" connectionString="metadata=res://*/Modelo.ModeloDB.csdl|res://*/Modelo.ModeloDB.ssdl|res://*/Modelo.ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DC1;initial catalog=SSO;user id=sa; password=P0rt@bilidad;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        -->

  </connectionStrings>
  <appSettings>
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--SISTEMAS FEDERADOS-->
    <!--LOCAL-->
        <add key="1" value="" />
        <add key="2" value="http://localhost:1036/oAuth/Ingreso" />  
        <add key="4" value="" />
        <add key="Default" value="https://localhost:44370/home/AppFederada" />
        <add key="90" value="https://localhost:44317/home/index" />
    <!--DESARROLLO-->
        <!--
        <add key="1"       value="https://pre-mi2.upc.edu.pe/login/terminos"/>
        <add key="2"       value="https://matriculadesi.upc.edu.pe/loginupc/oAuth/Ingreso"/>
        <add key="4"       value="http://pre-encuesta.upc.edu.pe/account/login/sso/"/>
        <add key="Default" value="https://micuenta-dev.upc.edu.pe/home/AppFederada"/>
        -->
    <!--CERTIFICACION-->
        <!--
        <add key="1"       value="https://pre-mi2.upc.edu.pe/login/terminos"/>
        <add key="2"       value="https://matriculadeso.upc.edu.pe/loginupc/oAuth/Ingreso"/>
        <add key="4"       value="http://pre-encuesta.upc.edu.pe/account/login/sso/"/>
        <add key="Default" value="https://micuenta-cer.upc.edu.pe/home/AppFederada"/>
        -->
    <!--PRODUCCIÓN-->
        <!--
        <add key="1"       value="https://pre-mi2.upc.edu.pe/login/terminos"/>
        <add key="2"       value="https://matriculadeso.upc.edu.pe/loginupc/oAuth/Ingreso"/>
        <add key="3"       value="#"/>
        <add key="4"       value="https://pre-encuesta.upc.edu.pe/account/login/sso"/>
        <add key="5"       value="https://eventos.upc.edu.pe/upc-sso"/>
        <add key="6"       value="https://alumniupc.wplab.org/retorno-login"/>
        <add key="7"       value="#"/>
        <add key="8"       value="#"/>
        <add key="9"       value="#"/>
        <add key="10"      value="#"/>
        <add key="11"      value="#"/>
        <add key="Default" value="https://micuenta.upc.edu.pe/home/AppFederada"/>
        <add key="90"      value="https://localhost:44317/home/index"/>
        -->

    <!--ENVIO DE MAIL-->
        <add key="name" value="Mi Cuenta UPC" />
        <add key="host" value="smtp.office365.com" />
        <add key="domain" value="upc.pe" />
    <!--DESARROLLO-->
        <add key="mail" value="micuenta-dev@upc.pe" />
        <add key="user" value="micuenta-dev@upc.pe" />
        <add key="pass" value="Ce250620#" />
        <add key="DHost" value="micuenta-dev.upc.edu.pe" />
    <!--CERTIFICACION-->
        <!--
        <add key="mail"   value="micuenta-cer@upc.pe"/>
        <add key="user"   value="micuenta-cer@upc.pe"/>
        <add key="pass"   value="Ce250620#"/>
        <add key="DHost"  value="micuenta-cer.upc.edu.pe"/>
        -->
    <!--PRODUCCION-->
        <!--
        <add key="mail"   value="micuenta@upc.pe"/>
        <add key="user"   value="micuenta@upc.pe"/>
        <add key="pass"   value=""/>
        <add key="DHost"  value="micuenta.upc.edu.pe"/>
        -->

    <!--WCF AUTENTICACION AD-->
        <add key="wsad" value="https://wsad.upc.edu.pe/Service.svc" />
        <add key="wsac" value="https://wsac.upc.edu.pe/Service.svc" />
        <add key="wsap" value="https://wsap.upc.edu.pe/Service.svc" />
        <add key="ENV" value="PRD" />  <!--PRD:PRODUCCION, CRT:CERTIFICACION, DEV:DESARROLLO-->
    
    <!--PASSWORD MAGICO SSO-->
    <!--LOCAL-DESARROLLO-CERTIFICACION-->
        <add key="_passwordSSO" value="123456789SSO" />
    <!--PRODUCCION-->
        <!--
        <add key="_passwordSSO" value="ZGVudGl0eS9jbGFpbXMvZ2l2ZW5uYW1"/>
        -->
    
    <!--API ENVIO SMS-->
    <!--DESARROLLO-CERTIFICACION-->
        <add key="API_ENVIO_SMS_NAME" value="https://apicert.upc.edu.pe/envioSMS/sms" />
        <add key="API_ENVIO_SMS_USR" value="upcpeWS" />
        <add key="API_ENVIO_SMS_PWD" value="VpCP3%24201" />
        <add key="API_ENVIO_SENDER_ID" value="prueba" />
    <!--PRODUCCION-->
        <!--
        <add key="API_ENVIO_SMS_NAME"  value="https://api.upc.edu.pe/envioSMS/sms"/>
        <add key="API_ENVIO_SMS_USR"   value="upcWS"/>
        <add key="API_ENVIO_SMS_PWD"   value="1nt1c0upcws$$2016"/>
        <add key="API_ENVIO_SENDER_ID" value="prueba"/>
        -->

    <!--CAMPAÑA DE ACTUALIZACION DE DATOS-->
    <!-- 1:ACTIVA  0:INACTIVA-->
    <!--add key="CampañaActDato" value="0" /-->

    <!--API SSO Y API UPC -->
    <add key="ApiDominioAuthA" value="https://micuenta-dev.upc.edu.pe" />
    <add key="ApiDominioAuth" value="https://api.upc.edu.pe" />
    <add key="ApiCredencialAuth" value="dXBjXFVTUlBSRElETUFETU1POjBaazckI24yMGdBR0Mx" />
    <!--FIN-->

    <!--Federadas que intentarán loguerase por Azure y/o Onpremises -->
    <!--Colocar los codigos de federadas separadas por comas-->
    <add key="switchAD" value="8" />

    <!-- Switch que indica si la lectura de las contraseñas será desde base de datos tabla SSO_variable-->
    <!-- Afectos: Mail, SMS y Api-->
    <!-- 1:Lee pwd desde la tabla SSO_variable-->
    <!-- 0:Lee pwd desde este web.config-->
    <add key="switchReadPwdFromTable" value="0" />

    <!-- Actualizacíon de datos-->
    <add key="urlActData" value="https://actualizatusdatos.upc.edu.pe" />

    <!--TripleDES-->
    <add key="stKey" value="Sistemas01%#."/>

  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 02A93EDF-49A7-4BA5-ADF8-DBBE40CA34D7-->